{% extends 'default/default.html' %}
{% load staticfiles %}

{% block content %}

<div class="text-center container col-lg-12 col-md-12">
	<br><br>
	<a style="font-size: 8em; font-family: Revalia">UNEXPO</a>&nbsp;&nbsp;<img class="animated fadeInUp" style="vertical-align: middle; width: 313px; height: 240px;" src="{% static 'images/proyecto.jpeg' %}">
	<br><br>	
	<h1>Ingeniería de Software</h1>
	<div class="text-center" style="font-size: 6em; font-family: Revalia;">
		<h2>Evaluación #4</h2>
	</div>
</div>

{% endblock %}